footer{
    margin-top: 96px;
    
}
.footer-image{
    width: 100%;
    height: 490px;
    .footer-image__background{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('https://images.unsplash.com/photo-1455390582262-044cdead277a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80');
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        scroll-behavior: smooth;
        .footer-title{
            margin-top: 32px;
            margin-bottom: 32px;
            text-align: center;
            width: 100%;
            color: white;
        }
        .footer-break{
            width: 30px;
            height: 5px;
            background-color: white;
            margin-bottom: 32px;
        }
        .footer-template__images{
            display: flex;
            justify-content: space-between;
            width: 50%;

        }

    }
}

.footer-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    justify-content: center;
    align-items: center;

    margin-top: 32px;
    margin-bottom: 32px;

    h2{
        width: 35%;
    }
    @media screen and (max-width:1200px){
        h2{
            width: 100%;
        }
    }
    .footer-break__blue{
        margin-top: 16px;
        margin-bottom: 16px;
        width: 30px;
        height: 4px;
        background-color: #0d2d62;
    }
    p{
        color: grey;
    }
    .footer-btn{
        padding: 8px 16px;
        background-color: red;
        color: white;
        border:none;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 3px 3px 9px rgba(0,0,0,0.4);
        transition: all 300ms ease-in-out;
    }
    .footer-btn:hover{
        background-color: white;
        border: 2px solid red;
        color: red;
    }
}

.footer-social-integration{
    margin-top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .break{
        margin-top: 16px;
        margin-bottom: 16px;
        width: 30px;
        height: 4px;
        background-color: #0d2d62;
    }
    p{
        width: 40%;
        color: grey;
        text-align: center;
    }
    .footer-socials{
        margin-top:16px;
        display: flex;
        justify-content: space-between;
        width: 30%;
        color: grey;
        font-size: 32px;
        margin-bottom: 64px;
    }
}

.last-image{
    color: white;
    button {
        padding: 8px 16px;
        background-color: red;
        color: white;
        border:none;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 3px 3px 9px rgba(0,0,0,0.4);
        transition: all 300ms ease-in-out;
    }
    button:hover{
        background-color: white;
        border: 2px inset red;        
        color: red;
    }
}

.last-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    .footer-logo-container{
        display: flex;
        align-items: center;
        img{
            margin-right: 32px;
            width: 80px;
        }
    }
}